html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#tabela-colaborador{

    margin-top: 100px;
}

#caixa-modal::backdrop{

    background-color: rgb(0 0 0 / 0.5);
}

#input-texto {

    display: block;

}

dialog{

    border:none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 /.3);
    padding: 20px;

}

#label-cargo {

    margin-bottom: 10px;
    margin-top: 5px;
}

#container {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 10px;
}

#span-validation-create{
    display: none;
    color: red;
    font-size: 14px;
}

#span-validation-edit {
    display: none;
    color: red;
    font-size: 14px;
}

#emailSpan {
    margin-top: 7px;
    display: none;
    color: red;
    font-size: 10px;
}


.buttons {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
}

#select-modal{

    margin-top: 10px;
}